<!doctype html>
<title>INEP</title>

<link rel='stylesheet' type='text/css' href='/static/stylesheets/style.css'></link>
<link rel='stylesheet' type='text/css' href='/static/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css'></link>

<script type="text/javascript" src='/static/jquery-ui-1.10.3.custom/js/jquery-1.9.1.min.js'></script>
{% block scripts %}{% endblock %}

<div class='page'>
  {% for message in get_flashed_messages() %}
    <div class='flash'>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}
</div>